@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.item:hover {
  background-color: black;
  color: white;
}

.cardContainer {
  padding: .5rem;
  border: 1px solid black;
  border-radius: 1%;
}

.cardItem {
  display: flex;
  justify-content: space-between;
  text-align: start;
}
.btnHover:hover {
  color: black;
  background-color: white;
}

.d-table{
  display: table;
  margin: 0 auto 5%;
  width: 80%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}
.d-tr{
  display: table-row;
  border: 1px solid black;
  width: 100%;
}
.d-td{
  display: table-cell;
  text-align: center;
  border: none;
  vertical-align: middle;
}
.d-td:not(.no-p){
  padding: 4px;
}

.hundredpers {
  
}